.footer {
  background-color: #262626;
  padding-top: 16px;

  &__row {
    padding: 40px 0;

    &--border-bottom {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &--flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__column {
    flex-basis: 100%;

    @include for-tablet {
      flex-basis: 33%;
    }

    &--flex-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &:not(:last-child) {
        @include for-phone {
          padding-bottom: 23px;
        }
      }
    }
  }

  &__logo {
    display: inline-block;
    width: 190px;
    height: 20px;
  }

  &__text {
    font-size: 13px;
    line-height: 15px;

    &--small {
      font-size: 11px;
      line-height: 13px;
      color: #fff;

      &:not(:last-child) {
        @include for-phone {
          padding-bottom: 24px;
        }
      }
    }

    &--column:not(:last-child) {
      padding-bottom: 23px;
    }
  }

  &__icon img {
    margin-right: 8px;
    transition: {
      duration: 0.3s;
      property: transform;
    };

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__a {
    color: #fff;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }
  }

  .uber_tag {
    margin: 30px 0 18px;
  }
}

.store-button {
  cursor: pointer;

  &:first-child {
    margin-right: 40px;
  }
}
