.header {
  margin-bottom: 56px;

  @include for-phone {
    margin-bottom: 40px;
  }
}

.header__logo {
  .logo_link {
    width: 105px;
    height: 11px;

    @include for-desktop {
      width: 119px;
      height: 12px;
    }
  }
}
