* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header {
  @include for-phone {
    position: relative;
    padding-bottom: 80px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 7px;

  @include for-tablet {
    padding: 0 9px;
  }

  @include for-desktop {
    max-width: 1200px;
    padding: 0 35px;
  }
}
